<!DOCTYPE html>
{% load static %}
{% load markdownify %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Global Neighbor{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
	<link rel="stylesheet" href="{% static 'css/search.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
</head>
<body>

<nav class="navbar">
	<a class="navbar-brand" href="{% url 'home' %}">
		<img src="{% static 'images/favicon.png' %}" alt="Global Neighbor Logo" class="logo">
		<span class="brand-title">Global Neighbor</span>
	</a>
    <ul class="nav-links">
        <li><a href="{% url 'blog:blog_index' %}"><i class="fa-solid fa-blog"></i> Blog</a></li>
        {% if request.user.is_authenticated and request.user.is_creator or request.user.is_superuser or request.user.is_moderator %}
            <li><a href="{% url 'blog:create_blog_post' %}"><i class="fa-solid fa-plus"></i> New Post</a></li>
        {% endif %}
        <li><a href="{% url 'neighborhood:forum_home' %}"><i class="fa-solid fa-comments"></i> Forum</a></li>
        {% if request.user.is_authenticated and request.user.is_superuser %}
        <li><a href="{% url 'admin:index' %}"><i class="fa-solid fa-user-cog"></i> Admin</a></li>
        {% endif %}
		<li class="search-toggle">
			<i id="search-icon" class="fas fa-search" title="Search"></i>
			<div id="search-dropdown-container" class="search-bar">
			  <form method="get" action="{% url 'search' %}" class="search-form">
				<input type="text" name="q" placeholder="Search..." value="{{ request.GET.q }}">
				<button type="submit"><i class="fas fa-search"></i></button>
				<a href="{% url 'advanced_search' %}" class="advanced-search-link">Advanced</a>
			  </form>
			</div>
		</li>
		{% if request.user.is_authenticated %}
		<li>
			<form method="post" action="{% url 'logout' %}" class="logout-form">
				{% csrf_token %}
				<button type="submit" class="logout-link">Logout</button>
			</form>
		</li>
		{% else %}
			<li><a href="{% url 'login' %}"> Login</a></li>
			<li><a href="{% url 'register' %}"> Register</a></li>
		{% endif %}
    </ul>
</nav>

<div class="container">
    {% block content %}{% endblock %}
</div>

<footer>
    <p>&copy; 2025 Global Neighbor. All rights reserved.</p>
</footer>

{% block extra_scripts %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css">
  <script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>
  <script src="{% static 'js/base.js' %}"></script>
{% endblock %}
</body>
</html>