.logout-link {
    background: none;
    border: none;
    color: white;  /* Match surrounding text */
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
    text-decoration: none;  /* Remove underline */
    padding: 0;
    display: inline;
}

.logout-link:hover {
    text-decoration: underline; /* Match normal hover effect for links */
}

.logout-form {
    display: inline;
    margin-left: 10px;  /* Adjust as needed */
}

.logo {
    height: 30px;  /* Adjust size as needed */
    width: auto;
    margin-right: 10px;
    vertical-align: middle;
    border-radius: 50%; /* Makes the image circular */
}